@font-face {
  font-family: "Inter";
  src: url("assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --orange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);
  --offwhite: hsl(36, 100%, 99%);
  --grayblue: hsl(233, 8%, 79%);
  --darkgray: hsl(236, 13%, 42%);
  --darkblue: hsl(240, 100%, 5%);
  --mainPaddingX: 8.5rem;
  --mainFont: "Inter";
}

.app {
  font-family: var(--mainFont);
  padding: 0rem var(--mainPaddingX);
  max-width: 85rem;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: var(--darkblue);
  cursor: pointer;
  text-shadow: 0px 0px 0px var(--darkblue);
  transition: 0.25s ease;
  position: relative;
}

a:hover {
  text-shadow: 0px 0px 3px var(--darkblue);
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
}

.animate-nav {
  transform: scaleX(0);
  animation: animate-nav 1s 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    forwards;
}

@keyframes animate-nav {
  100% {
    transform: scaleX(1);
  }
}

.site-links {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-btn {
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.25s ease;
}

.mobile {
  display: none;
}

.thin {
  font-weight: 200;
}

.orange-text {
  color: var(--orange);
}

.red-text {
  color: var(--softred);
}

.shadow {
  text-shadow: 2px 2px 5px var(--darkblue);
}

small {
  font-size: 1rem;
}

.img-div {
  width: 100%;
  height: 100%;
}

.img-div img {
  width: 100%;
  height: 100%;
}

.giant-h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.top-section {
  overflow: hidden;
}

.top-section-content {
  display: flex;
  gap: 1rem;
}

.animate-top-section {
  transform: translateY(-125rem);
  animation: lowersection 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes lowersection {
  100% {
    transform: translateY(0);
  }
}

.top-section-col:first-child {
  flex: 2;
}

.top-section-col:nth-child(2) {
  flex: 1;
  background: var(--darkblue);
  color: var(--offwhite);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px var(--softred) inset;
  animation: animateglowshadow 1s 2s forwards;
}

@keyframes animateglowshadow {
  100% {
    box-shadow: 5px 0px 10px var(--softred) inset;
  }
}

.top-section-row {
  padding: 1.5rem 0;
  display: flex;
}

.top-section-col .img-div {
  height: 300px;
}

.top-section-bottom-row-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
}

.read-more-btn {
  background: var(--softred);
  color: var(--darkblue);

  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.25s ease;
}

.headlines {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.headlines-header-h2 {
  font-size: 2rem;
}

.headline-item {
  flex-grow: 1;
  border-bottom: 1px solid rgba(235, 235, 235, 0.5);
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.headline-item:last-child {
  border-bottom: none;
}

.section-list {
  display: flex;
  padding: 1rem 0;
  gap: 1rem;
}

.section-item {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 1.25rem;
  transform: scale(0);

  animation: animateheadlineitem 1s var(--delay)
    cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

@keyframes animateheadlineitem {
  100% {
    transform: scale(1);
  }
}

.section-item .img-div {
  border-radius: 0.5rem;
  height: 150px;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.section-item-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-item-content h3 {
  font-size: 2.5rem;
}

.mobile-menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 5;
  transition: 0.5s ease;
}

.hide-mobile-menu {
  transform: translateX(100vw);
}

.mobile-menu-overlay::after {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  opacity: 25%;
}

.mobile-menu-overlay::before {
  content: "";
  position: absolute;
  inset: 0;

  backdrop-filter: blur(5px);
}

.mobile-menu {
  width: 75%;
  background: var(--offwhite);
  height: 100%;
  right: 0;
  position: absolute;
  padding: 2rem;
  z-index: 1;
  box-shadow: -5px 0px 10px var(--softred);
}

.mobile-links {
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
}

.mobile-link-item {
  cursor: pointer;
}

.mobile-link {
  color: var(--darkblue);
}

.flex-end-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mobile-close-btn:hover {
  transform: rotate(45deg);
}

@media screen and (max-width: 950px) {
  :root {
    --mainPaddingX: 4.5rem;
  }
  .top-section-content {
    flex-direction: column;
  }

  .top-section-row {
    flex-direction: column;
  }

  .section-list {
    flex-direction: column;
  }

  .section-item {
    width: 100%;
  }

  .section-item .img-div {
    border-radius: 0.5rem;

    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  :root {
    --mainPaddingX: 2.5rem;
  }
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
