* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --teal: hsl(179, 62%, 43%);
  --lightteal: hsl(179, 82%, 43%);
  --green: hsl(71, 73%, 54%);
  --paleteal: hsl(204, 43%, 93%);
  --gray: hsl(218, 22%, 67%);
  --white: rgb(255, 255, 255);
  --mainFont: "Karla", sans-serif;
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--paleteal);
  font-family: var(--mainFont);
  padding: 2rem 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-card {
  width: clamp(45%, 550px, 100%);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 0px var(--gray), 0px 0px 0px var(--gray);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: introshadow 1s 2.25s forwards;
}

@keyframes introshadow {
  100% {
    box-shadow: 0px 0px 5px var(--gray), 0px 0px 20px var(--gray);
  }
}

.teal-text {
  color: var(--teal);
}

.green-text {
  color: var(--green);
}

.gray-text {
  color: var(--gray);
}

.top-section {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--white);
}

.intro-top-section-animate {
  transform: translateY(-100%);
  animation: lowertopsection 1s 1s cubic-bezier(0.175, 0.885, 0.32, 1.075)
    forwards;
}

@keyframes lowertopsection {
  100% {
    transform: translateY(0);
  }
}

.h1-title {
  margin-bottom: 1rem;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 0.25rem;
  background: var(--green);
  cursor: pointer;
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px var(--gray);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  transition: 0.25s ease;
}

button:hover {
  text-shadow: 0px 0px 2px black;
  box-shadow: 0px 0px 5px var(--gray), 0px 5px 10px rgba(20, 20, 20, 0.65);
}

.bottom-section {
  display: flex;
  color: var(--white);
}

.slide-right {
  transform: translateX(-100%);
  animation: slideright 1s 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes slideright {
  100% {
    transform: translateX(0);
  }
}

.bottom-col:first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  background: var(--teal);
}

.prices-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.mid-thin {
  font-weight: 300;
}

.thin {
  font-weight: 200;
}

.bottom-col {
  flex: 1;
  padding: 2rem;
}

.bottom-content-col-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.bottom-col:nth-child(2) {
  background: var(--lightteal);
}

.rise-up {
  transform: translateY(100%);
  animation: riseup 1s 1.85s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

@keyframes riseup {
  100% {
    transform: translateY(0);
  }
}

.h3-title {
  margin-bottom: 1rem;
}

li {
  margin: 0.25rem 0;
  font-weight: 200;
  font-size: 0.85rem;
}

@media screen and (max-width: 750px) {
  .bottom-section {
    flex-direction: column;
  }
}
